/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Description: The default skin for the Nivo Slider.
Version: 1.3
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/

.theme-default .nivoSlider {
	position:relative;
	background:#fff;
    margin-bottom:0px;
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
  bottom: 0;
  padding: 10px 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 9;
}
.theme-default .nivo-controlNav a {
  border: 0 none;
  display: inline-block;
  height: 16px;
  line-height: 15px;
  margin: 0 3px;
  overflow: hidden;
  transition: background-color 0.5s ease 0.5s;
  width: 16px;
}
.theme-default .nivo-controlNav a.active {
	background-position:0 -22px;
}

.theme-default .nivo-directionNav a {
	display:block;
	width:50px;
	height:50px;
	background:none repeat scroll 0 0 rgba(255, 252, 255, 0.4);

	border:0;
    overflow: hidden;
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.theme-default a.nivo-nextNav:before {
  content: "\f105";
  float: left;
  font-family: FontAwesome;
  font-size: 45px;
  height: 50px;
  line-height: 50px;
  margin-right: 200px;
  text-align: center;
  width: 50px;
}
.theme-default a.nivo-prevNav:before {
  content: "\f104";
  float: left;
  font-family: FontAwesome;
  font-size: 45px;
  height: 50px;
  line-height: 50px;
  margin-right: 200px;
  text-align: center;
  width: 50px;
}
.theme-default:hover .nivo-directionNav a { opacity: 1; }
.theme-default a.nivo-nextNav {
	background-position:-30px 0;
	right:10%;
}
.theme-default a.nivo-prevNav {
	left:10%;
}

.theme-default .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-default .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}
@media (min-width: 480px) and (max-width:767px){
    #ybc-nivo-slider-wrapper.theme-default .nivo-controlNav {
      padding: 0px 0;
    }
    #ybc-nivo-slider-wrapper.theme-default a.nivo-nextNav:before,
    #ybc-nivo-slider-wrapper.theme-default a.nivo-prevNav:before {
      height: 40px;
      line-height: 40px;
      width: 40px;
    }
    #ybc-nivo-slider-wrapper.theme-default .nivo-directionNav a {
      height: 40px;
      width: 40px;
    }
    .theme-default .nivo-directionNav a{
        opacity: 1;
    }
}
@media (max-width: 479px){
    #ybc-nivo-slider-wrapper.theme-default .nivo-controlNav {
      padding: 0px 0;
    }
    .theme-default .nivo-directionNav a{
        opacity: 1;
    }
    #ybc-nivo-slider-wrapper.theme-default a.nivo-nextNav:before,
    #ybc-nivo-slider-wrapper.theme-default a.nivo-prevNav:before {
      height: 30px;
      line-height: 30px;
      width: 30px;
    }
    #ybc-nivo-slider-wrapper.theme-default .nivo-directionNav a {
      height: 30px;
      top: 30%;
      width: 30px;
    }
}