.icon-AdminYbcThemeConfig {
  background-image: url("../img/logo-16.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-color: transparent;
  float: left;
  height: 29px;
  margin-left: 4px;
  margin-right: 0;
  width: 18px;
}