#languages-block-top {
  float: left;
  position: relative;
}
  @media (max-width: 479px) {
 }
  #languages-block-top span.firstWord {
    display: none; }
 #languages-block-top div.current {
  color: #333333;
  cursor: pointer;
  line-height: 18px;
  padding: 8px 10px 9px 0;
}
    @media (max-width: 479px) {
      #languages-block-top div.current {
        text-align: center;
        padding: 9px 5px 10px;
        font-size: 11px; } }
    #languages-block-top div.current strong {
      color: #777777; }
    #languages-block-top div.current:after {
      content: "\f107";
      font-family: "FontAwesome";
      font-size: 16px;
      line-height: 18px;
      color: #ADADAD;
      vertical-align: -2px;
      padding-left: 2px; }
      @media (max-width: 479px) {
        #languages-block-top div.current:after {
          padding-left: 2px;
          font-size: 13px;
          line-height: 13px;
          vertical-align: 0; } }
    @media (max-width: 479px) {
      #languages-block-top div.current .cur-label {
        display: none; } }
#languages-block-top ul {
  background: #fff;
  display: none;
  left: 0;
  position: absolute;
  top: 37px;
  width: auto;
  z-index: 2;
  border-left: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
}
#languages-block-top ul li {
  border-top: 1px solid #e5e5e5;
  float: left;
  font-size: 13px;
  line-height: 35px;
  width: 100%;
}
#languages-block-top ul li:last-child {
  border-bottom: 1px solid #e5e5e5;
}
#languages-block-top ul li a,
#languages-block-top ul li > span {
    padding: 0 10px 0 12px;
    display: block;
 }
#languages-block-top ul li.selected, #languages-block-top ul li:hover a {
  
}
.selected > span {
  font-weight: bold;
}
@media (max-width: 479px){
    #languages-block-top ul li {
      font-size: 11px;
    }
}